.logo-container{
    left: 50px;
    position: absolute;
    top: 20px;
     z-index: 3;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 60px;
    float: left;
}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}

#account-body {
  background-color: #ffd56b ;
}
#smart-desh-bg {
  background-color: #212529;
}
#span-desh {
  font-size: 5rem;
  color:#fff;
}
#NAVV {
  font-size: 7rem;
  color: #f8dc81;
  text-decoration: none;
}
.col {
  margin: 0 10%;
}
#S-sign {
  font-size: 300px;
  color: #82C91E ;
}
